.wrapper {
  position: sticky;
  z-index: 9;
  + .overlay {
    z-index: 8;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(29,30,29,.60);
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    transition: opacity .8s var(--easing);
  }
}

.skipToMainContent {
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 21px;
  top: 21px;
  overflow: hidden;
  padding: 8px 21px;
  background-color: var(--primary-900);
  border: 1px solid var(--secondary-900);
  &:focus-visible {
    opacity: 1;
    pointer-events: auto;
  }
}